<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Store</a>
        </div>
        <ul class="nav navbar-nav">
          <button class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#myModal">Create Book</button>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Book</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="form-group">
                  <label for="title">title:</label>
                  <input type="text" class="form-control" id="title" v-model="title">
                </div>
                <div class="form-group">
                  <label for="author">author:</label>
                  <input type="text" class="form-control" id="author" v-model="author">
                </div>
                <div class="form-group">
                  <label for="category">Category:</label>
                  <input type="text" class="form-control" id="category" v-model="category">
                </div>
                <div class="form-group">
                  <label for="stok">Stok:</label>
                  <input type="text" class="form-control" id="stok" v-model="stok">
                </div>
                <div class="form-group">
                  <label for="harga">Harga:</label>
                  <input type="text" class="form-control" id="harga" v-model="harga">
                </div>
                <div class="form-group">
                  <label for="urlimage">urlimage:</label>
                  <input type="text" class="form-control" id="urlimage" v-model="urlimage">
                </div>
                <button type="submit" class="btn btn-default" v-on:click="createBook">Create</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <header class="page-header">
      <div class="container text-center">
        <h1>Book dj Store</h1>
      </div>
    </header>

    <!-- MAIN -->
    <div class="container">
      <h1><i class="fa fa-shopping-cart" aria-hidden="true"></i> List Book</h1>
      <div class="row">
        <div class="col-sm-10">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>author</th>
                <th>Category</th>
                <th>Harga</th>
              </tr>
            </thead>
            <tbody>

              <!-- TABLE -->
              <tr v-for="book in books">
                <td>
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="" class="img-rounded" alt="Cinque Terre" width="100%" v-bind:src="book.urlimage">
                    </div>
                    <div class="col-sm-6">
                      <p>{{ book.title }} ye</p>
                    </div>
                  </div>
                </td>
                <td>{{ book.author }}</td>
                <td>{{ book.category }}</td>
                <td>$ {{ book.harga }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>


  <!-- FOOTER -->
    <div class="container-fluid background-grey">
      <div class="row">
        <div class="col-sm-4 text-center">
          <h4>Contact us</h4>
          <p>Get in touch here if you have any queries or issues.</p>
        </div>
        <div class="col-sm-4 text-center">
          <h4>Help & Support</h4>
          <p>Click here for FAQs, order information, T&Cs, errata and code downloads.</p>
        </div>
        <div class="col-sm-4 text-center">
          <h4>Alerts & Offers</h4>
          <p>Sign up to our emails for regular updates, bespoke offers, exclusive discounts and great free content.</p>
        </div>
      </div>
    </div>

  </div>
</body>
<script type="text/javascript" src="/js/script.js"></script>

</html>
