<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>

    <div id="app">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Checkout({{this.checkout.length}})</a></li>
            <li><a href="#" data-toggle="modal" data-target="#signup"><span class="glyphicon glyphicon-user"></span> Daftar</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="admin3.html"><span class="glyphicon glyphicon-log-in"></span> admin</a></li>
            <li><a href="history.html"><span class="glyphicon glyphicon-log-in"></span> History</a></li>
          </ul>
        </div>
      </nav>
        <p>{{ username }}</p>
      <header class="page-header">
        <div class="container text-center">
          <h1>Book dj Store</h1>
          <h2>{{ message }}</h2>
        </div>
      </header>

      <div class="container-fluid kontainer">
        <div class="row content">

          <div class="col-sm-3 sidenav" id="sidebar">
            <div class="col-sm-12" id="sidebar-title">
              <h3>Category</h3>
            </div>
            <div class="col-sm-12">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="#">All</a></li>
                <li role="presentation"><a href="#">Web Development</a></li>
                <li role="presentation"><a href="#">Game Development</a></li>
                <li role="presentation"><a href="#">Networking and Server</a></li>
                <li role="presentation"><a href="#">Hardware and Creation</a></li>
                <li role="presentation"><a href="#">Bussiness Intelligence</a></li>
              </ul>
            </div>
          </div>


          <div class="col-sm-9 col-lg-9">
            <h1>Booklist</h1>

            <div class="row" style="float: left;">
              <div class="col-sm-3 col-lg-3" v-for="book in books">
                <div class="thumbnail text-center">
                  <a href="#">
                    <img v-bind:src=book.urlimage>
                    <div class="caption">
                      <p>{{book.title}}</p>
                    </div>
                  </a>
                  <p>${{ book.harga }}.00</p>
                  <p><button type="button" class="btn btn-success" v-on:click="addtocart(book)">add to cart</button></p>
                </div>
              </div>
            </div>

            <nav aria-label="Page navigation">
              <ul class="pagination pagination-lg">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>


        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div class="container-fluid">
                <h1><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shooping Cart</h1>
                <div class="row">
                  <div class="col-sm-7">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Harga Produk</th>
                          <th>Kuantitas</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="car in cart">
                          <td>
                            <div class="row">
                              <div class="col-sm-3">
                                <img class="img-rounded" alt="Cinque Terre" width="100%" v-bind:src="car.urlimage">
                              </div>
                              <div class="col-sm-6">
                                <p>{{ car.title }}</p>
                                <p>{{ car.author }}</p>
                              </div>
                            </div>
                          </td>

                          <td>${{ car.harga }}</td>
                          <td>{{ car.quantity }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-sm-5">
                    <h4>Rincian Pesanan</h4>
                    <div class="row">
                      <div class="col-sm-7">
                        <p>total price:</p>
                      </div>
                      <div class="col-sm-5">
                        <p>${{ totalprice }}</p>
                      </div>
                    </div>
                    <p><button type="button" class="btn btn-success" style="width:100%" v-on:click="checkouttodb">Checkout</button></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>


      <div class="container-fluid background-grey">
        <div class="row">
          <div class="col-sm-4 text-center">
            <h4>Contact us</h4>
            <p>Get in touch here if you have any queries or issues.</p>
          </div>
          <div class="col-sm-4 text-center">
            <h4>Help & Support</h4>
            <p>Click here for FAQs, order information, T&Cs, errata and code downloads.</p>
          </div>
          <div class="col-sm-4 text-center">
            <h4>Alerts & Offers</h4>
            <p>Sign up to our emails for regular updates, bespoke offers, exclusive discounts and great free content.</p>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="signup" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Daftar</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr" name="" value="" v-model="username">
              </div>
              <div class="form-group">
                <label for="eml">Email:</label>
                <input type="email" class="form-control" id="eml" name="email" v-model="email">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password" v-model="password">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="signup">signup</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      </div>



      </div>
    </div>
  </div>

      <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
